<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.cn/css2?family=Fira+Code:wght@400;500;600;700&family=Lexend:wght@400;500;600;700;800;900&family=Noto+Sans+SC:wght@400;500;600;700;800;900&display=swap"
/>
    <title>Client Data</title>
    <style>

    </style>
</head>
<body>
    <div class="blur">
        <h2><i class="fas fa-laptop"></i>伊里的天选5Pro 锐龙版</h2>
        <div class="blur">
            <h2>硬件配置信息</h2>
    <div class="pc-container" id="PC-Info">
            <p id="pc-info"><i class="fas fa-microchip fa-fw"></i>    CPU:<br> AMD Ryzen 9 7940HX</p>
            <p id="pc-info"><i class="fas fa-microchip fa-fw"></i>    GPU:<br> NVIDIA GeForce RTX 4060 Laptop GPU</p>
            <p id="pc-info"><i class="fas fa-memory fa-fw"></i>   RAM:<br> 32GB DDR5 5200MHz</p>
            <p id="pc-info"><i class="fas fa-database fa-fw"></i> Storage:<br> 1+1TB NVMe SSD</p>
            <p id="pc-info"><i class="fas fa-desktop fa-fw"></i>  Monitor:<br> 16" 2.5K 165Hz</p>
            <p id="pc-info"><i class="fab fa-microsoft fa-fw"></i>    OS:<br> Windows 11 Pro</p>
        </div>
    </div>
<div class="flexbox-container" id="flexbox-container" style="display: flex; flex-direction: column;">
    <div class="progress-container" id="progress-container">
        <div class="grid-container" id="progressBars"></div>
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
    </div>
    <div class="active-window-container" id="active-window"></div>
</div>

</div>

    <div class="blur">
    <h4 class="footer">Written BY ELIT</h4>
    <h4 class="footer">Github repository at <i class="fab fa-github"></i><a href="https://github.com/YMDG-BM/device-monitoring-server-and-client" target="_blank" >HERE</a></h4>
    </div>
</body>
</html>