<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/fa/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Client Data</title>
    <style>

    </style>
</head>
<body>
    <div class="blur">
        <h2><i class="fas fa-laptop"></i>伊里的天选5Pro 锐龙版</h2>
    <div id="PC-Info">
            <p id="pc-info">硬件配置信息</p>
            <p id="pc-info"><i class="fas fa-microchip fa-fw"></i>    CPU: AMD Ryzen 9 7940HX</p>
            <p id="pc-info"><i class="fas fa-microchip fa-fw"></i>    GPU: NVIDIA GeForce RTX 4060 Laptop GPU</p>
            <p id="pc-info"><i class="fas fa-memory fa-fw"></i>   RAM: 32GB DDR5 5200MHz</p>
            <p id="pc-info"><i class="fas fa-database fa-fw"></i> Storage: 1+1TB NVMe SSD</p>
            <p id="pc-info"><i class="fas fa-desktop fa-fw"></i>  Monitor: 16" 2.5K 165Hz</p>
            <p id="pc-info"><i class="fab fa-microsoft fa-fw"></i>    OS: Windows 11 Pro</p>
           
        </div>
    </div>
    </div>
    <div id="client-data"></div>
    <div class="blur">
    <div class="progress-container">
        <div class="grid-container" id="progressBars"></div>
    </div>
</div>
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
    <div class="blur">
    <h4 class="footer">Written BY ELIT</h4>
    </div>
</body>
</html>